<h1>Search Your Flights here:</h1>
<%= form_with url: "/", method: :get, data: {turbo: false} do |form| %>
  <div>
    <%= form.label :arrival_airport_id %>
    <select name="arrival_code">
    <%= @airports.each do |airport| %>
      <option value="<%= airport.airport_code %>"><%= airport.airport_code %></option>
    <% end %>
  </select>
  </div><br>

  <div>
    <%= form.label :departure_airport_id %>
    <select name="departure_code">
    <%= @airports.each do |airport| %>
      <option value="<%= airport.airport_code %>"><%= airport.airport_code %></option>
    <% end %>
  </select>
  </div><br>

  <div>
  <%= form.label :num_tickets %>
  <%= form.select :num_tickets, 1..4 %>
  </div><br>

  <div>
    <%= form.label :departure_date %>

    <%= select_tag "departure_date", options_from_collection_for_select(@flights,'departure_date', :date_formatted) %>
  </div><br>
  
  <div>
    <%= form.submit :search %>
  </div>
<% end %>

<% if @searched_flights.blank? %> 
<h2>No flights on this route </h2>
<% else %>
<h2>Available Flights</h2>
<ol>
  <% @searched_flights.each do |flights| %>
      <li>
      <p>flight Date: <%= flights.departure_date %></p>
      <p>flight Time: <%= flights.departure_time %></p>
      </li>
<% end %>

</ol>
<% end %>

